@charset "utf-8";

$basecolor: #2871B0;
$bg_blue:#ECF6FF;
$bg_yellow:#FFFCF4;
$yellow: #FFBE20;
$cv: #FFBE20;
$white: #F4F4F4;
$baseease: cubic-bezier(.20,1,.21,1);

$grad01:linear-gradient(90deg, #3DBBE4 0%, $basecolor 100%);

$black: #2C2C2C;
